@charset "UTF-8";
/*
|------------------------------------------------------------
| Base - Config
|------------------------------------------------------------
*/
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

/*! normalize.css v3.0.0 | Typography | MIT License | git.io/normalize */
abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/*! normalize.css v3.0.0 | Embedded Content | MIT License | git.io/normalize */
img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

/*! normalize.css v3.0.0 | Figures | MIT License | git.io/normalize */
figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/*! normalize.css v3.0.0 | Forms | MIT License | git.io/normalize */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

/*! normalize.css v3.0.0 | Tables | MIT License | git.io/normalize */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*
|------------------------------------------------------------
| Base - Fonts
|------------------------------------------------------------
*/
/*!
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../assets/fonts/font-awesome/fontawesome-webfont.eot?v=4.3.0");
  src: url("../assets/fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../assets/fonts/font-awesome/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("../assets/fonts/font-awesome/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("../assets/fonts/font-awesome/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("../assets/fonts/font-awesome/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }
.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-genderless:before,
.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

/* @include font-face(
    "FontName",
    font-files(
        "FontName.woff",
        "FontName.ttf",
        "FontName.svg"),
    "FontName.eot"
); */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  overflow-y: scroll; }

img {
  display: block;
  max-width: 100%; }

/*
|------------------------------------------------------------
| Helpers
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Helpers - Variables
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Helpers - Placeholders
|------------------------------------------------------------
*/
body, .clearfix, .form__input-group, .form__input-group--inline-full, .b__navigation ul, .b__navigation--vertical ul, .wrapper, .row, .row--table, section {
  *zoom: 1; }
  body:before, .clearfix:before, .form__input-group:before, .form__input-group--inline-full:before, .b__navigation ul:before, .b__navigation--vertical ul:before, .wrapper:before, .row:before, .row--table:before, section:before, body:after, .clearfix:after, .form__input-group:after, .form__input-group--inline-full:after, .b__navigation ul:after, .b__navigation--vertical ul:after, .wrapper:after, .row:after, .row--table:after, section:after {
    content: "";
    display: table; }
  body:after, .clearfix:after, .form__input-group:after, .form__input-group--inline-full:after, .b__navigation ul:after, .b__navigation--vertical ul:after, .wrapper:after, .row:after, .row--table:after, section:after {
    clear: both; }

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.b__navigation, .b__navigation--vertical, figure, .wrapper, .grid, .grid--table, section {
  display: block;
  width: 100%; }

.seam {
  clear: both;
  display: block;
  height: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15); }

.white-well, .gray-well, .well {
  display: inline-block;
  box-shadow: inset 0 1px 5px #000;
  border-radius: 10px;
  padding: 1px 8px; }

.white-well {
  background-color: #FFF; }

.gray-well {
  background-color: #CCC; }

.wrapper--table, .grid--table {
  display: table; }

.row--table {
  display: table-row; }

.col-1-2--table, .col-1-2--rtl-table, .col-1-3--table, .col-1-3--rtl-table, .col-1-4--table, .col-1-4--rtl-table, .col-1-5--table, .col-1-5--rtl-table, .col-1-6--table, .col-1-6--rtl-table, .col-1-7--table, .col-1-7--rtl-table {
  display: table-cell; }

/*
|------------------------------------------------------------
| Helpers - Classes
|------------------------------------------------------------
*/
.hide {
  display: none; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.sticky {
  position: sticky; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.caps {
  text-transform: uppercase; }

.lowcase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

.italic {
  font-style: italic; }

.oblique {
  font-style: oblique; }

.bold {
  font-weight: 700; }

.normal {
  font-weight: 400; }

.fleft {
  float: left; }

.fright {
  float: right; }

.fnone {
  float: none; }

.rtl {
  direction: rtl; }

.ltr {
  direction: ltr; }

.parallax {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover; }
  .parallax background {
    attachment: fixed;
    position: center top; }

/*
|------------------------------------------------------------
| Helpers - Typography
|------------------------------------------------------------
*/
h1, h2, h3, h4, h5, h6, p {
  margin: 20px 0;
  line-height: 1.3; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 19.2px; }

h6 {
  font-size: 16px; }

p {
  font-size: 16px; }

span {
  font-size: 16px; }

/*
|------------------------------------------------------------
| Mixins
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Mixins - Breakpoint
|------------------------------------------------------------
| Credit: Hugo Giraudel - http://www.sitepoint.com/sass-mixin-media-merging/
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Mixins - Media
|------------------------------------------------------------
| Credit: Hugo Giraudel - http://www.sitepoint.com/sass-mixin-media-merging/
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Mixins - Icons
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Mixins - Rem
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Mixins - Translate
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Mixins - Col
|------------------------------------------------------------
*/
/*
*	Basic Col mixin
*	Usage: @include col(1,3);
*	Compiles to:	width: 33.333333333%;
*/
/*
|------------------------------------------------------------
| Mixins - Calc
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Blocks
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Partials - Buttons
|------------------------------------------------------------
*/
.b__btn--round, .b__btn--indent, .b__btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none; }

.b__btn--round, .b__btn--indent, .b__btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-size: 1rem; }

.b__btn--round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.b__btn--indent {
  -moz-box-shadow: 0 10px 0 0 #000;
  -webkit-box-shadow: 0 10px 0 0 #000;
  box-shadow: 0 10px 0 0 #000; }

.b__btn {
  padding: 10px 15px;
  background: #FFF;
  border: 1px solid #CCC; }
  .b__btn:hover {
    background: #CCC;
    border: 1px solid #000; }
  .b__btn--small {
    font-size: 13px;
    font-size: 0.8rem; }
  .b__btn--medium {
    font-size: 14px;
    font-size: 0.9rem; }
  .b__btn--big {
    font-size: 19px;
    font-size: 1.2rem; }
  .b__btn--block {
    display: block;
    width: 100%; }
  .b__btn--indent {
    position: relative;
    top: 0;
    -moz-transform: all 0.1s ease;
    -ms-transform: all 0.1s ease;
    -webkit-transform: all 0.1s ease;
    transform: all 0.1s ease; }
    .b__btn--indent:hover, .b__btn--indent:focus {
      top: 8px;
      -moz-box-shadow: 0 2px 0 0 #000;
      -webkit-box-shadow: 0 2px 0 0 #000;
      box-shadow: 0 2px 0 0 #000; }
    .b__btn--indent:active {
      top: 10px;
      -moz-box-shadow: inset 0 2px 2px 1px #000;
      -webkit-box-shadow: inset 0 2px 2px 1px #000;
      box-shadow: inset 0 2px 2px 1px #000;
      -moz-transition: all 0s ease;
      -o-transition: all 0s ease;
      -webkit-transition: all 0s ease;
      transition: all 0s ease; }
    .b__btn--indent::before {
      content: '';
      background: transparent;
      display: block;
      position: absolute;
      bottom: 100%;
      left: 0;
      height: 0;
      width: 100%; }
    .b__btn--indent:hover::before, .b__btn--indent:focus::before, .b__btn--indent:active::before {
      border: 1px solid transparent;
      left: -1px; }
    .b__btn--indent:hover::before, .b__btn--indent:focus::before {
      height: 8px; }
    .b__btn--indent:active::before {
      height: 10px; }

/*
|------------------------------------------------------------
| Partials - Lists
|------------------------------------------------------------
*/
/*
	Turn off bullets for an element of a list
		@include no-bullet;
*
*
	Turn off bullets for entire list
		@include no-bullets;
*
*
	Make a (ul/li) list have a image bullet.
		@include pretty-bullets('my-icon.png', 5px, 7px);

	Or if the image dimensions are not provided, the dimensions will be pulled from the image
		@include pretty-bullets('my-icons.png');
*/
.b__list--nobullet {
  list-style: none; }
  .b__list--nobullet li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0; }

.b__list--inline li {
  float: left; }

/*
|------------------------------------------------------------
| Partials - Forms
|------------------------------------------------------------
*/
.b__form {
  background: #FFF;
  padding: 10px; }
  .b__form fieldset {
    margin: 0; }

.form__input-group, .form__input-group--inline-full {
  margin: 10px 0; }
  .form__input-group label, .form__input-group--inline-full label {
    float: left;
    max-width: 100%;
    padding: 10px 5px; }
  .form__input-group input, .form__input-group--inline-full input {
    float: left;
    width: 100%;
    padding: 10px 5px;
    outline: none;
    border: 1px solid #000;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .form__input-group input:focus, .form__input-group--inline-full input:focus, .form__input-group input:active, .form__input-group--inline-full input:active {
      border: 1px solid rgba(52, 152, 219, 0.5); }
    .form__input-group input:-moz-placeholder, .form__input-group--inline-full input:-moz-placeholder {
      font-style: italic; }
    .form__input-group input::-moz-placeholder, .form__input-group--inline-full input::-moz-placeholder {
      font-style: italic; }
    .form__input-group input:-ms-input-placeholder, .form__input-group--inline-full input:-ms-input-placeholder {
      font-style: italic; }
    .form__input-group input::-webkit-input-placeholder, .form__input-group--inline-full input::-webkit-input-placeholder {
      font-style: italic; }
  .form__input-group textarea, .form__input-group--inline-full textarea {
    float: left;
    width: 100%;
    padding: 10px 5px;
    outline: none;
    border: 1px solid #000;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .form__input-group textarea:focus, .form__input-group--inline-full textarea:focus, .form__input-group textarea:active, .form__input-group--inline-full textarea:active {
      border: 1px solid rgba(52, 152, 219, 0.5); }
  .form__input-group--inline {
    display: inline-block;
    vertical-align: middle; }
    .form__input-group--inline input {
      width: auto; }
    .form__input-group--inline textarea {
      width: auto; }
  .form__input-group--inline-full {
    display: block; }
    .form__input-group--inline-full label {
      width: 20%; }
    .form__input-group--inline-full input {
      width: 80%; }
    .form__input-group--inline-full textarea {
      width: 80%; }

/*
|------------------------------------------------------------
| Partials - Navigation
|------------------------------------------------------------
*/
.b__navigation ul, .b__navigation--vertical ul {
  display: block;
  margin: 0;
  padding: 0; }
.b__navigation li, .b__navigation--vertical li {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  width: auto;
  position: relative; }
.b__navigation a, .b__navigation--vertical a {
  display: block;
  color: #FFF;
  text-decoration: none;
  padding: 10px 15px; }
  .b__navigation a:hover, .b__navigation--vertical a:hover {
    text-decoration: underline; }
.b__navigation .navigation__list-sublevel, .b__navigation--vertical .navigation__list-sublevel {
  display: none;
  width: auto;
  background: #acb; }
  .b__navigation .navigation__list-sublevel li, .b__navigation--vertical .navigation__list-sublevel li {
    display: block;
    width: 100%; }
.b__navigation .navigation__list-sublevel--side, .b__navigation--vertical .navigation__list-sublevel--side {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  width: 200px; }

.b__navigation--vertical li {
  display: block;
  width: 100%; }

/*
|------------------------------------------------------------
| Media
|------------------------------------------------------------
| Credit: William Fendler || http://wfendler.com/blog/perfecting-the-media-object
|------------------------------------------------------------
| Valign
|------------------------------------------------------------
| Credit: Harry Robert || http://csswizardry.com/2013/05/the-flag-object/
|------------------------------------------------------------
*/
/* indented to reflect DOM structure */
.media {
  overflow: hidden; }

.media__item {
  float: left;
  margin-right: 20px; }

.media__body {
  float: left; }

.media--flip > .media__item {
  margin-right: 0;
  margin-left: 20px;
  float: right; }

.media--stack > .media__item {
  float: none;
  margin-left: 0;
  margin-bottom: 20px; }

.media--nowrap > .media__body {
  overflow: hidden; }

.media--valign {
  display: table; }

.media--valign > .media__item,
.media--valign > .media__body {
  display: table-cell;
  vertical-align: middle; }

.media--valign > .media__item {
  float: none; }

.media--valign > .media__body {
  width: 100%; }

/*
|------------------------------------------------------------
| Partials - Buttons
|------------------------------------------------------------
*/
figure {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #CCC; }
  figure:hover figcaption {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -ms-transform: translate(0, 0); }
  figure img {
    display: block;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  figure figcaption {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #000;
    padding: 10px 0;
    text-align: center;
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

/*
|------------------------------------------------------------
| Partials - Periscope
|------------------------------------------------------------
*/
.periscope {
  margin: 100px auto;
  background-position: center 0px;
  background-repeat: repeat-y;
  background-attachment: fixed;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
  border-radius: 50em;
  position: relative; }

/*
|------------------------------------------------------------
| Layout - Wrappers
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Layout - Wrappers
|------------------------------------------------------------
*/
.wrapper--contained {
  max-width: 1400px;
  margin: 0 auto; }

/*
|------------------------------------------------------------
| Layout - Grid
|------------------------------------------------------------
*/
.row, .row--table {
  width: 100%;
  margin: 0 0 20px; }

.col {
  float: left;
  padding: 0px 10px;
  margin-bottom: 20px;
  width: 100%;
  min-height: 1px; }

.col-1-2 {
  float: left;
  padding: 0px 10px;
  margin-bottom: 20px;
  width: 50%;
  min-height: 1px; }
  .col-1-2--table {
    padding: 0px 10px;
    margin-bottom: 20px;
    width: 50%;
    min-height: 1px; }
  .col-1-2--rtl {
    float: right;
    padding: 0px 10px;
    margin-bottom: 20px;
    width: 50%;
    min-height: 1px; }
  .col-1-2--rtl-table {
    padding: 0px 10px;
    margin-bottom: 20px;
    width: 50%;
    min-height: 1px; }

.col-1-3 {
  float: left;
  padding: 0px 10px;
  margin-bottom: 20px;
  width: 33.33333%;
  min-height: 1px; }
  .col-1-3--table {
    padding: 0px 10px;
    margin-bottom: 20px;
    width: 33.33333%;
    min-height: 1px; }
  .col-1-3--rtl {
    float: right;
    padding: 0px 10px;
    margin-bottom: 20px;
    width: 33.33333%;
    min-height: 1px; }
  .col-1-3--rtl-table {
    padding: 0px 10px;
    margin-bottom: 20px;
    width: 33.33333%;
    min-height: 1px; }

.col-1-4 {
  float: left;
  padding: 0px 10px;
  margin-bottom: 20px;
  width: 25%;
  min-height: 1px; }
  .col-1-4--table {
    padding: 0px 10px;
    margin-bottom: 20px;
    width: 25%;
    min-height: 1px; }
  .col-1-4--rtl {
    float: right;
    padding: 0px 10px;
    margin-bottom: 20px;
    width: 25%;
    min-height: 1px; }
  .col-1-4--rtl-table {
    padding: 0px 10px;
    margin-bottom: 20px;
    width: 25%;
    min-height: 1px; }

.col-1-5 {
  float: left;
  padding: 0px 10px;
  margin-bottom: 20px;
  width: 20%;
  min-height: 1px; }
  .col-1-5--table {
    padding: 0px 10px;
    margin-bottom: 20px;
    width: 20%;
    min-height: 1px; }
  .col-1-5--rtl {
    float: right;
    padding: 0px 10px;
    margin-bottom: 20px;
    width: 20%;
    min-height: 1px; }
  .col-1-5--rtl-table {
    padding: 0px 10px;
    margin-bottom: 20px;
    width: 20%;
    min-height: 1px; }

.col-1-6 {
  float: left;
  padding: 0px 10px;
  margin-bottom: 20px;
  width: 16.66667%;
  min-height: 1px; }
  .col-1-6--table {
    padding: 0px 10px;
    margin-bottom: 20px;
    width: 16.66667%;
    min-height: 1px; }
  .col-1-6--rtl {
    float: right;
    padding: 0px 10px;
    margin-bottom: 20px;
    width: 16.66667%;
    min-height: 1px; }
  .col-1-6--rtl-table {
    padding: 0px 10px;
    margin-bottom: 20px;
    width: 16.66667%;
    min-height: 1px; }

.col-1-7 {
  float: left;
  padding: 0px 10px;
  margin-bottom: 20px;
  width: 14.28571%;
  min-height: 1px; }
  .col-1-7--table {
    padding: 0px 10px;
    margin-bottom: 20px;
    width: 14.28571%;
    min-height: 1px; }
  .col-1-7--rtl {
    float: right;
    padding: 0px 10px;
    margin-bottom: 20px;
    width: 14.28571%;
    min-height: 1px; }
  .col-1-7--rtl-table {
    padding: 0px 10px;
    margin-bottom: 20px;
    width: 14.28571%;
    min-height: 1px; }

/*
|------------------------------------------------------------
| Layout - Header
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| Layout - Section
|------------------------------------------------------------
*/
section {
  margin: 0 0 20px;
  padding: 10px;
  background: #2C3E50;
  color: #ECF0F1; }

/*
|------------------------------------------------------------
| Layout - Articles
|------------------------------------------------------------
*/
article {
  display: block; }

/*
|------------------------------------------------------------
| Layout - Tables
|------------------------------------------------------------
*/
.l__table {
  margin: 20px auto; }
  .l__table td, .l__table th {
    border: 1px solid #000;
    padding: 10px; }
  .l__table--highlight tr:nth-child(even) td, .l__table--highlight tr:nth-child(even) th {
    background: #CCC; }
  .l__table--noborder td, .l__table--noborder th {
    border: none; }

/*
|------------------------------------------------------------
| Helpers - Temporary classes / ids'
|------------------------------------------------------------
*/
.border div[class*="col"] {
  border: 1px solid #E74C3C; }

#exampleGrid div[class*=col] {
  opacity: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  #exampleGrid div[class*=col].is-showing {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    opacity: 1;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }

#fullGrid {
  text-align: center; }
  #fullGrid div[class*=col] {
    background: #CCC;
    padding: 50px 0;
    border-width: 0 1px 0 1px;
    border-color: #000;
    border-style: solid; }

#periscope1 {
  background-image: url('../assets/img/background1.jpg?1433497851');
  height: 466.66667px;
  width: 466.66667px; }

.animate-top {
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -ms-transform: translate(0, -100%); }
.animate-top-right {
  -moz-transform: translate(100%, -100%);
  -ms-transform: translate(100%, -100%);
  -webkit-transform: translate(100%, -100%);
  transform: translate(100%, -100%);
  -ms-transform: translate(100%, -100%); }
.animate-top-left {
  -moz-transform: translate(-100%, -100%);
  -ms-transform: translate(-100%, -100%);
  -webkit-transform: translate(-100%, -100%);
  transform: translate(-100%, -100%);
  -ms-transform: translate(-100%, -100%); }
.animate-right {
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -ms-transform: translate(100%, 0); }
.animate-bottom {
  -moz-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -ms-transform: translate(0, 100%); }
.animate-bottom-right {
  -moz-transform: translate(100%, 100%);
  -ms-transform: translate(100%, 100%);
  -webkit-transform: translate(100%, 100%);
  transform: translate(100%, 100%);
  -ms-transform: translate(100%, 100%); }
.animate-bottom-left {
  -moz-transform: translate(-100%, 100%);
  -ms-transform: translate(-100%, 100%);
  -webkit-transform: translate(-100%, 100%);
  transform: translate(-100%, 100%);
  -ms-transform: translate(-100%, 100%); }
.animate-left {
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0); }
.animate-zoom {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0); }

.zoom-out {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .zoom-out:hover img {
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7); }

.zoom-in {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .zoom-in:hover img {
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }

.bird-box {
  position: relative;
  height: 800px;
  background-image: url('../assets/img/bird-bg.jpg?1433838438');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden; }

.logo {
  height: 100px;
  width: 100%;
  background-image: url('../assets/img/black-bird-logo.svg?1433838438');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -50px; }

.fore-bird {
  width: 1400px;
  height: 733px;
  background-image: url('../assets/img/fore-bird.png?1433946514');
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  left: 50%;
  top: 380px;
  margin-left: -700px; }

.back-bird {
  width: 1400px;
  height: 298px;
  background-image: url('../assets/img/back-bird.png?1433838438');
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute;
  left: 50%;
  top: 10%;
  margin-left: -700px; }
