/*
|------------------------------------------------------------
| Base - Config
|------------------------------------------------------------
*/

//------------------------- Base file imports ---------------------
@import "compass";
@import "normalize";
@import "rgbapng";
@import "fonts";

//------------------------- Set the global compass vars -----------
$browser-minimum-versions: ('ie': "8");


//------------------------- Base Settings -------------------------
* {
	@include box-sizing(border-box);
}

html {
	overflow-y: scroll;
}

body {
	@extend %clearfix;
}

img {
	display: block;
	max-width: 100%;
}