/*
|------------------------------------------------------------
| Base - Fonts
|------------------------------------------------------------
*/
@import "libs/font-awesome/font-awesome";

/* @include font-face(
    "FontName",
    font-files(
        "FontName.woff",
        "FontName.ttf",
        "FontName.svg"),
    "FontName.eot"
); */

%main-font { font-family: ""; }
%bold-font { font-family: ""; }
%basic-font { font-family: Arial, Helvetica, sans-serif; }
