/*
|------------------------------------------------------------
| Media
|------------------------------------------------------------
| Credit: William Fendler || http://wfendler.com/blog/perfecting-the-media-object
|------------------------------------------------------------
| Valign
|------------------------------------------------------------
| Credit: Harry Robert || http://csswizardry.com/2013/05/the-flag-object/
|------------------------------------------------------------
*/

/* indented to reflect DOM structure */
.media {
  overflow: hidden;
}
.media__item {
  float: left;
  margin-right: $base-margin;
}
.media__body {
    float: left;
}

// FLIPPED
.media--flip > .media__item {
  margin-right: 0; // resetting the default right margin
  margin-left: $base-margin;
  float: right;
}

// STACKED
.media--stack > .media__item {
  float: none;
  margin-left: 0;
  margin-bottom: $base-margin;
}

// NOWRAP
.media--nowrap > .media__body {
  overflow: hidden;
  // this property doesn't allow text to wrap around the floated image.
}

// VALIGN (aka "FLAG")
.media--valign {
  display: table;
}
.media--valign > .media__item,
.media--valign > .media__body {
  display: table-cell;
  vertical-align: middle;
}
.media--valign > .media__item { float: none; }
.media--valign > .media__body { width: 100%; }
