/*
|------------------------------------------------------------
| Partials - Navigation
|------------------------------------------------------------
*/
.b__navigation {
	@extend %base-block;
	ul {
		@extend %clearfix;
		display: block;
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
		vertical-align: top;
		margin: 0;
		width: auto;
		position: relative;
	}
	a {
		display: block;
		color: $white;
		text-decoration: none;
		padding: 10px 15px;
		&:hover {
			text-decoration: underline;
		}
	}
	.navigation__list-sublevel {
		display: none;
		width: auto;
		background: #acb;
		li {
			display: block;
			width: 100%;
		}
	}
	.navigation__list-sublevel--side {
		display: none;
		position: absolute;
		left: 100%;
		top: 0;
		width: 200px;
	}
}

.b__navigation--vertical {
	@extend .b__navigation;
	li {
		display: block;
		width: 100%;
	}
}
