/*
|------------------------------------------------------------
| Partials - Buttons
|------------------------------------------------------------
*/
figure {
    @extend %base-block;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: $gray;
    &:hover {
        figcaption {
            @include translate(0, 0);
        }
    }

    img {
        display: block;
        @include transition(all 0.3s ease-in-out);
    }

    figcaption {
        width: 100%;
        position: absolute;
        bottom: 0;
        background: $black;
        padding: 10px 0;
        text-align: center;
        @include translate(-100%, 0);
        @include transition(all 0.2s ease-in-out);
    }
}
