/*
|------------------------------------------------------------
| Partials - Lists
|------------------------------------------------------------
*/

/*
	Turn off bullets for an element of a list
		@include no-bullet;
*
*
	Turn off bullets for entire list
		@include no-bullets;
*
*
	Make a (ul/li) list have a image bullet.
		@include pretty-bullets('my-icon.png', 5px, 7px);

	Or if the image dimensions are not provided, the dimensions will be pulled from the image
		@include pretty-bullets('my-icons.png');
*/

.b__list {

}

.b__list--nobullet {
	@include no-bullets;
}

.b__list--inline {
	li {
		float: left;
	}
}
