/*
|------------------------------------------------------------
| Partials - Forms
|------------------------------------------------------------
*/
.b__form {
	background: $white;
	padding: 10px;
	fieldset {
		margin: 0;
	}
}
.form__input-group {
	@extend %clearfix;
	margin: 10px 0;
	label {
		float: left;
		max-width: 100%;
		padding: 10px 5px;
	}
	input {
		float: left;
		width: 100%;
		padding: 10px 5px;
		outline: none;
		border: 1px solid $black;
		@include transition(all 0.3s ease-in-out);
		&:focus, &:active {
			border: 1px solid rgba($focus-blue, 0.5);
		}
		@include input-placeholder {
			font-style: italic;
		}
	}
	textarea {
		float: left;
		width: 100%;
		padding: 10px 5px;
		outline: none;
		border: 1px solid $black;
		@include transition(all 0.3s ease-in-out);
		&:focus, &:active {
			border: 1px solid rgba($focus-blue, 0.5);
		}
	}
	&--inline {
		display: inline-block;
		vertical-align: middle;
		input {
			width: auto;
		}
		textarea {
			width: auto;
		}
	}
	&--inline-full {
		@extend .form__input-group;
		display: block;
		label {
			width: 20%;
		}
		input {
			width: 80%;
		}
		textarea {
			width: 80%;
		}
	}
}
