/*
|------------------------------------------------------------
| Partials - Buttons
|------------------------------------------------------------
*/
%reset-button {
    @include appearance(none);
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
}
%button {
	@extend %reset-button;
	display: inline-block;
	vertical-align: middle;
	@include rem(1);
}
%button-round {
	@extend %button;
	@include border-radius($border-radius);
}
%button-indent {
	@extend %button;
	@include box-shadow(0 10px 0 0 $black);
}

.b__btn {
	@extend %button;
	padding: 10px 15px;
	background: $white;
	border: 1px solid $gray;
	&:hover {
		background: $gray;
		border: 1px solid $black;
	}
	&--small {
		@include rem(0.8);
	}
	&--medium {
		@include rem(0.9);
	}
	&--big {
		@include rem(1.2);
	}
	&--block {
		display: block;
		width: 100%;
	}
	&--round {
		@extend %button-round;
	}
	&--indent {
		position: relative;
		top: 0;
		@extend %button-indent;
		@include transform(all 0.1s ease);
		&:hover, &:focus {
			top: 8px;
			@include box-shadow(0 2px 0 0 $black);
		}
		&:active {
			top: 10px;
			@include box-shadow(inset 0 2px 2px 1px $black);
			@include transition(all 0s ease);
		}
		&::before {
			content: '';
			background: transparent;
			display: block;
			position: absolute;
			bottom: 100%;
			left: 0;
			height: 0;
			width: 100%;
		}
		&:hover::before, &:focus::before, &:active::before {
			border: 1px solid transparent;
			left: -1px;
		}
		&:hover::before, &:focus::before {
			height: 8px;
		}
		&:active::before {
			height: 10px;
		}
	}
}
