/*
|------------------------------------------------------------
| Partials - Periscope
|------------------------------------------------------------
*/

.periscope {
    margin: 100px auto;
    background: {
        position: center 0px;
        repeat: repeat-y;
        attachment: fixed;
    }
    @include border-radius(50em);
    position: relative;
}
