/*
|------------------------------------------------------------
| Helpers - Placeholders
|------------------------------------------------------------
*/

%clearfix {
    *zoom:1;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
%hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

//------------------------- Base elements -------------------------
%base-float {
    float: left;
    width: 100%;
}
%base-block {
    display: block;
    width: 100%;
}

//------------------------- Seam separator -------------------------
%seam {
    clear: both;
    display: block;
    height: 0px;
    border-top: 1px solid rgba($black, .12);
    border-bottom: 1px solid rgba($white, .15);
}

//------------------------- Wells -------------------------
%well {
    display: inline-block;
    box-shadow: inset 0 1px 5px $black;
    border-radius: $border-radius;
    padding: 1px 8px;
}
%white-well {
    @extend %well;
    background-color: $white;
}
%gray-well {
    @extend %well;
    background-color: $gray
}  

//------------------------- Table -------------------------
%table { display: table; }
%table__row { display: table-row; }
%table__cell { display: table-cell; }