/*
|------------------------------------------------------------
| Helpers - Temporary classes / ids'
|------------------------------------------------------------
*/
.border {
	div[class*="col"] {
		border: 1px solid $main-color-red;
	}
}

#exampleGrid {
    div[class*=col] {
        opacity: 0;
        @include transition(all 0.3s ease-in-out);
        &.is-showing {
            @include translate(0, 0);
            opacity: 1;
			@include transform(scale(1));
        }
    }
}

#fullGrid {
	text-align: center;
	div[class*=col] {
		background: $gray;
		padding: 50px 0;
		border-width: 0 1px 0 1px;
		border-color: $black;
		border-style: solid;
	}
}

#periscope1 {
	background-image: image-url('background1.jpg');
	height: $container-width / 3;
	width: $container-width / 3;
}


// Animations
.animate {
    &-top {
        @include translate(0, -100%);
    }
    &-top-right {
        @include translate(100%, -100%);
    }
    &-top-left {
        @include translate(-100%, -100%);
    }
    &-right {
        @include translate(100%, 0);
    }
    &-bottom {
        @include translate(0, 100%);
    }
    &-bottom-right {
        @include translate(100%, 100%);
    }
    &-bottom-left {
        @include translate(-100%, 100%);
    }
    &-left {
        @include translate(-100%, 0);
    }
	&-zoom {
		@include transform(scale(0));
	}
}
.zoom-out {
    @include transition(all 0.3s ease-in-out);
    &:hover {
        img {
            @include transform(scale(0.7));
        }
    }
}
.zoom-in {
	@include transition(all 0.3s ease-in-out);
	&:hover {
		img {
			@include transform(scale(1.5));
		}
	}
}

// Header parallax
.bird-box {
    position: relative;
    height: 800px;
    background: {
        image: image-url('bird-bg.jpg');
        position: center;
        repeat: no-repeat;
        attachment: fixed;
    }
    @include background-size(cover);
    overflow: hidden;
}

.logo {
    height: 100px;
    width: 100%;
    background: {
        image: image-url('black-bird-logo.svg');
        position: center;
        repeat: no-repeat;
    }
    position: absolute;
    top: 50%;
    margin-top: -50px;
}

.fore-bird {
    width: $container-width;
    height: 733px;
    background: {
        image: image-url('fore-bird.png');
        repeat: no-repeat;
        position: right bottom;
    }
    position: absolute;
    left: 50%;
    top: 380px;
    margin-left: -($container-width / 2);
}

.back-bird {
    width: $container-width;
    height: 298px;
    background: {
        image: image-url('back-bird.png');
        repeat: no-repeat;
        position: top left;
    }
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -($container-width / 2);
}
