/*
|------------------------------------------------------------
| Helpers - Variables
|------------------------------------------------------------
*/

//------------------------- Vertical Rhythm -------------------------
$base-font: 16px;
$base-line-height: 24px;

//------------------------- Dimensions -------------------------
// Containers
$container-width: 1400px;

// Spacing units
$base-margin: 20px;
$base-padding: 10px;

// Border radius
$border-radius: 10px;
$border-radius--small: 5px;
$border-radius--large: 20px;

//------------------------- Colors -------------------------
$white: #FFF;
$black: #000;
$gray: #CCC;
$focus-blue: #3498DB;

$main-color: #ECF0F1;
$main-color-red: #E74C3C;
$main-color-blue: #2C3E50;
$main-color-blue-light: #3498DB;
$main-color-blue-lightest: #2980B9;

//------------------------- Breakpoints -------------------------
$breakpoints: (
	'phone': (max-width: 767px),
	'phone--portrait': (max-width: 767px, orientation: portrait),
	'phone--landscape': (max-width: 767px, orientation: landscape),

	'tablet': (min-width: 768px),
	'tablet--portrait': (min-width: 768px, orientation: portrait),
	'tablet--landscape': (min-width: 768px, orientation: landscape),

	'tablet--medium': (min-width: 992px),
	'tablet--medium--portrait': (min-width: 992px, orientation: portrait),
	'tablet--medium--landscape': (min-width: 992px, orientation: landscape),

	'desktop': (min-width: 1024px),
	'desktop--portrait': (min-width: 1024px, orientation: portrait),
	'desktop--landscape': (min-width: 1024px, orientation: landscape),

	'desktop--large': (min-width: 1200px),
	'desktop--large--portrait': (min-width: 1200px, orientation: portrait),
	'desktop--large--landscape': (min-width: 1200px, orientation: landscape)
);

//------------------------- Grid -------------------------
$blueprint-grid-columns: 12;
$blueprint-grid-width: 30px;
$blueprint-grid-margin: 10px;
