/*
|------------------------------------------------------------
| Helpers - Classes
|------------------------------------------------------------
*/

.clearfix { @extend %clearfix; }
.hide-text { @extend %hide-text; }

//------------------------- Display -------------------------
.hide { display: none; }
.block { display: block; }
.inline-block { display: inline-block; }

//------------------------- Positions -------------------------
.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }
.sticky { position: sticky; } // Not supported in Chrome

//------------------------- Text Alignment -------------------------
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }

//------------------------- Text Transform -------------------------
.caps { text-transform: uppercase; }
.lowcase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }
.italic { font-style: italic; }
.oblique { font-style: oblique; }
.bold { font-weight: 700; }
.normal { font-weight: 400; }

//------------------------- Float -------------------------
.fleft { float: left; }
.fright { float: right; }
.fnone { float: none; }

//------------------------- Direction -------------------------
.rtl { direction: rtl; }
.ltr { direction: ltr; }

//------------------------- Backgrounds -------------------------
.parallax {
	background {
		attachment: fixed;
		position: center top;
	}
	@include background-size(cover);
}

//------------------------- Wells -------------------------
.well {
	@extend %well;
}
.white-well {
	@extend %white-well;
}
.gray-well {
	@extend %gray-well;
}

//------------------------- Seam -------------------------
.seam { @extend %seam; }
