/*
|------------------------------------------------------------
| Helpers - Typography
|------------------------------------------------------------
*/

h1, h2, h3, h4, h5, h6, p {
	margin: $base-margin 0;
	line-height: 1.3;
}
h1 {
	font-size: $base-font * 3;
}
h2 {
	font-size: $base-font * 2.5;
}
h3 {
	font-size: $base-font * 2;
}
h4 {
	font-size: $base-font * 1.5;
}
h5 {
	font-size: $base-font * 1.2;
}
h6 {
	font-size: $base-font;
}
p {
	font-size: $base-font;
}
span {
	font-size: $base-font;
}
