/*
|------------------------------------------------------------
| Layout - Grid
|------------------------------------------------------------
*/
.grid {
	@extend %base-block;
}
.grid--table {
	@extend .grid;
	@extend %table;
}

//------------------------- Row -------------------------
.row {
	@extend %clearfix;
	width: 100%;
	margin: 0 0 $base-margin;
}
.row--table {
	@extend .row;
	@extend %table__row;
}

//------------------------- 100% width (1/1) -------------------------
.col {
	@include col(1,1);
}

//------------------------- 50% width (1/2) -------------------------
.col-1-2 {
	@include col(1,2);
	&--table {
		@include col-table(1, 2);
	}
	&--rtl {
		@include col-rtl(1, 2);
	}
	&--rtl-table {
		@include col-rtl-table(1, 2);
	}
}

//------------------------- 33.33% width (1/3) -------------------------
.col-1-3 {
	@include col(1, 3);
	&--table {
		@include col-table(1, 3);
	}
	&--rtl {
		@include col-rtl(1, 3);
	}
	&--rtl-table {
		@include col-rtl-table(1, 3);
	}
}

//------------------------- 25% width (1/4) -------------------------
.col-1-4 {
	@include col(1, 4);
	&--table {
		@include col-table(1, 4);
	}
	&--rtl {
		@include col-rtl(1, 4);
	}
	&--rtl-table {
		@include col-rtl-table(1, 4);
	}
}

//------------------------- 20% width (1/5) -------------------------
.col-1-5 {
	@include col(1, 5);
	&--table {
		@include col-table(1, 5);
	}
	&--rtl {
		@include col-rtl(1, 5);
	}
	&--rtl-table {
		@include col-rtl-table(1, 5);
	}
}

//------------------------- 16.66% width (1/6) -------------------------
.col-1-6 {
	@include col(1, 6);
	&--table {
		@include col-table(1, 6);
	}
	&--rtl {
		@include col-rtl(1, 6);
	}
	&--rtl-table {
		@include col-rtl-table(1, 6);
	}
}

//------------------------- 14.28% width (1/7) -------------------------
.col-1-7 {
	@include col(1, 7);
	&--table {
		@include col-table(1, 7);
	}
	&--rtl {
		@include col-rtl(1, 7);
	}
	&--rtl-table {
		@include col-rtl-table(1, 7);
	}
}
