/*
|------------------------------------------------------------
| Layout - Tables
|------------------------------------------------------------
*/

.l__table {
	margin: $base-margin auto;
	td, th {
		border: 1px solid $black;
		padding: $base-padding;
	}
	&--highlight {
		tr:nth-child(even) {
			td, th {
				background: $gray;
			}
		}
	}
	&--noborder {
		td, th {
			border: none;
		}
	}
}
