/*
|------------------------------------------------------------
| Layout - Section
|------------------------------------------------------------
*/
section {
	@extend %base-block;
	margin: 0 0 $base-margin;
	padding: $base-padding;
	@extend %clearfix;

	// Temp
	background: $main-color-blue;
	color: $main-color;
}
