/*
|------------------------------------------------------------
| Layout - Wrappers
|------------------------------------------------------------
*/
.wrapper {
	@extend %base-block;
	@extend %clearfix;
	&--contained {
		max-width: $container-width;
		margin: 0 auto;
	}
	&--table {
		@extend %table;
	}
}
