/*
|------------------------------------------------------------
| Mixins - Breakpoint
|------------------------------------------------------------
| Credit: Hugo Giraudel - http://www.sitepoint.com/sass-mixin-media-merging/
|------------------------------------------------------------
*/

@mixin breakpoint($breakpoint) {
    // Get the query map for $breakpoints map
    $queries: map-get($breakpoints, $breakpoint);

    // If there is no query called $breakpoint in map, throw an error
    @if not $queries {
        @error "No value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
    }

    // Include the media mixin with $queries
    @include media($queries) {
        @content;
    }
}