/*
|------------------------------------------------------------
| Mixins - Rem
|------------------------------------------------------------
*/

@mixin rem($size) {
    // fallback in pixels
    font-size: round(( $size * $base-font ));
    font-size: $size + rem;
}