/*
|------------------------------------------------------------
| Mixins - Media
|------------------------------------------------------------
| Credit: Hugo Giraudel - http://www.sitepoint.com/sass-mixin-media-merging/
|------------------------------------------------------------
*/

@mixin media($queries) {
    @if length($queries) == 0 {
        @content;
    } 
    @else {
        $first-key: nth(map-keys($queries), 1);

        @media ($first-key: map-get($queries, $first-key)) {
            $queries: map-remove($queries, $first-key);

            @include media($queries) {
                @content;
            }
        }
    }
}