/*
|------------------------------------------------------------
| Mixins - Col
|------------------------------------------------------------
*/

/*
*	Basic Col mixin
*	Usage: @include col(1,3);
*	Compiles to:	width: 33.333333333%;
*/
@mixin col ($col, $sum) {
	float: left;
	padding: 0px $base-padding;
	margin-bottom: $base-margin;
	width: percentage($col / $sum);
	min-height: 1px;
}

// Same height columns
@mixin col-table ($col, $sum) {
	@extend %table__cell;
	padding: 0px $base-padding;
	margin-bottom: $base-margin;
	width: percentage($col / $sum);
	min-height: 1px;
}

// Right to left columns
@mixin col-rtl ($col, $sum) {
	float: right;
	padding: 0px $base-padding;
	margin-bottom: $base-margin;
	width: percentage($col / $sum);
	min-height: 1px;
}

// Right to left, same height columns
@mixin col-rtl-table ($col, $sum) {
	@extend %table__cell;
	padding: 0px $base-padding;
	margin-bottom: $base-margin;
	width: percentage($col / $sum);
	min-height: 1px;
}
