/*
|------------------------------------------------------------
| Mixins - Icons
|------------------------------------------------------------
*/
@mixin inline-icon ( $side, $margin ) {
    display: inline-block;
    vertical-align: middle;
    @if $side == 'left' { margin-right: $margin; };
    @if $side == 'right' { margin-left: $margin; };
}

@mixin absolute-icon ( $side, $icon-name, $margin ) {
    position: absolute;
    top: 50%;
    #{$side}: $margin;
    @include translate(0, -50%);
}

@mixin icon ( $icon, $side, $inline: false, $margin: 0.5em, $pseudo-element: '' ) {

    $icon-name: 'icons/' + $icon + '.png';

    @if $pseudo-element == '' {
        @if $side == left {
            $pseudo-element: 'before';
        } @else {
            $pseudo-element: 'after';
        }
    }

    position: relative;

    &:#{$pseudo-element} {
        content: "";
        @if $inline == true { @include inline-icon($side, $margin); };
        @if $inline == false { @include absolute-icon($side, $icon-name, $margin) };
        @include retina-sprite($icon);
    }
}